In [1]:
# Dependencies & Setup
import pandas as pd

In [2]:
# Files to Load
# Files from Citi Bike trip history data, Source: https://s3.amazonaws.com/tripdata/index.html
jan_2020 = "data/202001-citibike-tripdata.csv"
feb_2020 = "data/202002-citibike-tripdata.csv"
mar_2020 = "data/202003-citibike-tripdata.csv"
apr_2020 = "data/202004-citibike-tripdata.csv"
may_2020 = "data/202005-citibike-tripdata.csv"
jun_2020 = "data/202006-citibike-tripdata.csv"

# Read Quarter 1 and Quarter 2 Citi Bike Data Files & Store into Pandas DataFrames
df_jan_2020 = pd.read_csv(jan_2020, encoding="ISO-8859-1")
df_feb_2020 = pd.read_csv(feb_2020, encoding="ISO-8859-1")
df_mar_2020 = pd.read_csv(mar_2020, encoding="ISO-8859-1")
df_apr_2020 = pd.read_csv(apr_2020, encoding="ISO-8859-1")
df_may_2020 = pd.read_csv(may_2020, encoding="ISO-8859-1")
df_jun_2020 = pd.read_csv(jun_2020, encoding="ISO-8859-1")

In [3]:
# df_jan_2020 
# df_feb_2020 
# df_mar_2020
# df_apr_2020 
# df_may_2020 
# df_jun_2020

In [4]:
# Combining all csv files, since no unique join column id
combined_citibike_df = df_jan_2020.append(df_feb_2020, sort=False)
combined_citibike_df = combined_citibike_df.append(df_mar_2020, sort=False)
combined_citibike_df = combined_citibike_df.append(df_apr_2020, sort=False)
combined_citibike_df = combined_citibike_df.append(df_may_2020, sort=False)
combined_citibike_df = combined_citibike_df.append(df_jun_2020, sort=False)

combined_citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,685,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,2
1882269,446,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,0
1882270,439,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,1
1882271,890,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,1
1882272,433,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,1

In [5]:
# Replacing Numbers in Gender for Male, Female, Unknown

combined_citibike_df['gender'] = combined_citibike_df ['gender'].replace([0,1,2],['Unknown','Male','Female'])
combined_citibike_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,Male
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,Male
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,Male
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,Male
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,Male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1882268,685,2020-06-30 23:59:41.1160,2020-07-01 00:11:06.7790,503,E 20 St & Park Ave,40.738274,-73.987520,3746,6 Ave & Broome St,40.724308,-74.004730,21056,Customer,1993,Female
1882269,446,2020-06-30 23:59:46.4260,2020-07-01 00:07:13.0860,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,30164,Customer,1969,Unknown
1882270,439,2020-06-30 23:59:47.4770,2020-07-01 00:07:06.5590,3699,W 50 St & 9 Ave,40.763605,-73.989180,523,W 38 St & 8 Ave,40.754666,-73.991382,43742,Customer,1986,Male
1882271,890,2020-06-30 23:59:53.3950,2020-07-01 00:14:43.4270,3852,Stewart Ave & Johnson Ave,40.708690,-73.925870,3054,Greene Ave & Throop Ave,40.689493,-73.942061,15787,Subscriber,1994,Male
1882272,433,2020-06-30 23:59:53.9010,2020-07-01 00:07:07.0950,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,261,Johnson St & Gold St,40.694749,-73.983625,38767,Customer,1990,Male

In [6]:
# Checking to see count of datapoints
combined_citibike_df.count()

tripduration               7508808
starttime                  7508808
stoptime                   7508808
start station id           7508808
start station name         7508808
start station latitude     7508808
start station longitude    7508808
end station id             7508808
end station name           7508808
end station latitude       7508808
end station longitude      7508808
bikeid                     7508808
usertype                   7508808
birth year                 7508808
gender                     7508808
dtype: int64

In [7]:
# Dropping NaN
combined_citibike_df = combined_citibike_df.dropna(how='any')
combined_citibike_df.count()

tripduration               7508808
starttime                  7508808
stoptime                   7508808
start station id           7508808
start station name         7508808
start station latitude     7508808
start station longitude    7508808
end station id             7508808
end station name           7508808
end station latitude       7508808
end station longitude      7508808
bikeid                     7508808
usertype                   7508808
birth year                 7508808
gender                     7508808
dtype: int64

In [8]:
combined_citibike_df.shape

(7508808, 15)

In [9]:

combined_citibike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                      object
dtype: object

In [10]:
# Save DataFrame to CSV
combined_citibike_df.to_csv("data/six-month-2020-citibike-tripdata.csv", index=False, header=True)